
#contactoFotter{
    padding-left: 1rem;
    padding-top: 3rem;
    background-color: rgb(147, 147, 147);
    width: 100%;
    overflow: hidden;
    border-top: 3px solid #1E2022;
    
}
#contactoFotter article{
    display: flex;
    gap: 3rem;
}
#contactoFotter h3{
    font-size: 2.5rem;
    margin-bottom: 3rem;

}

#contactame{
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.2rem;
}

#contactame p{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
#contactame p span{
    font-size: 3rem;
    color:#1E2022
}
#espacio{
    margin-top: 1.5rem;
}

#contactame a{
    
    
    font-size: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}
#contactame a:hover{
    color: #4000fe;
    scale: 1.1;
    
    transition: all 1s ease; 
}
#contactame a span{
    color: #1E2022;
}


@media (max-width: 946px) {
    
    #contactoFotter article{
        display: flex;
        flex-direction: column;

        padding-left: 1rem;     
        
    }
    #contactoFotter h3{
        font-size: 2rem;
        margin-bottom: 3rem;
    
    }
    
    #contactame{
        font-size: 0.9rem;
    }

    #contactame p{
        padding-left: 0;
        width: 80%;
        
    }

    #contactame p span{
        font-size: 1.5rem;
    }

    #espacio{
        margin-top: 0;
    }
    #contactame fieldset{
        display: flex;
        flex-direction: row;
        
    }

    
    #contactame a{
        margin-right: 1.5rem;
        color: #47357d;
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
        padding-left: 0;
        align-self: center;
    }
}





#fieltext{   
    width: 70%;
    margin-bottom: 1rem; 
}

#fieltext h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#fieltext form{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
}
#fieltext form fieldset{
    font-size: 2rem;
    color: #1E2022;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#fieltext form fieldset span{
    margin-right: 1rem;
}

#fieltext form input{

    height: 2.25rem;
    padding-left: 1rem;
    width: 90%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem black;
    border: 2px solid black;
    font-size: 1rem;
}

#mensaje{
    width: 100%;
    height:10rem;
    padding: 0 1rem 0 1rem;
    
}
#mensaje textarea{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem black;
    border: 2px solid black;
    font-size: 1.5rem;
}

#fieltext form button{
    border-radius: 1rem;
    width: 50%;
    align-self: center;
    height: 2rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    background-color: #47357d;
}

#fieltext form button:hover{
    cursor: pointer;
}


@media (max-width: 946px) {
    #fieltext h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #fieltext form{
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;
        margin-right: 2rem;
        border-radius: 2rem;
    }

    #fieltext form fieldset{
        font-size: 1.2rem;
        color: #1E2022;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #fieltext{   
        width: 100%;
        margin-bottom: 1rem; 
    }

}

