#containerHola{
    display: flex;
    height: 50vh;
    margin-top: 2rem;
    
}
#containerHola picture{
    width: 50%;
    height: 100%;
    padding: 4rem 5rem 4rem 5rem;
    overflow: hidden;
    border-radius: 1rem;
    
    
}
#containerHola picture img{
    object-fit: cover;
    box-shadow: 0 0 1rem black;
}

#containerHola article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    font-size: 1.3rem;
}
/* containerHola article span */
#nombre{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: start;
    text-align: start;
    padding: 2rem 0 1rem 0;
    color: rgb(255, 255, 255);
}

.titulo{
    font-size: 3rem;
    color: #635985;
    
}



#contacto{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: inherit;
    padding: 1rem 0  1rem 0;
}

#contacto p{
    color:#ffffff;
    text-align: start;
}
#contacto p b{
    color: #7e7e7e;
}

#redes{
    height: 20%;
    display: inline;
    color: #7e7e7e;   
    font-size: 2.5rem;
    transition: all 1s ease;  
}
#redes a{
    margin-right: 2.5rem;
}
#redes a:hover{
  color: snow;
  transition: all 1s ease;    
}

@media (max-width: 946px) {
    .titulo{
        font-size: 2rem;
        color: #635985;
        
    }
    #containerHola article{
        font-size: 1rem;
        width: 60%;
    }

    #containerHola picture{
        width: 40%;
        padding: 4rem 4rem 4rem 4rem;
    }
    #redes{ 
        font-size: 2rem;
    }
    #redes a{
        margin-right: 1.5rem;
    }
    
}