#containerHola{
    display: flex;
    height: 50vh;
    margin-top: 2rem;
    
}
#containerHola aside{
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}
#containerHola aside picture{
    width: 100%;
    height: 95%;
    justify-self: start;
   
}
#containerHola aside picture img{
    object-fit: contain;
    /* box-shadow: 0 0 1rem black; */
}

#containerHola article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    font-size: 1.3rem;
}
/* containerHola article span */
#nombre{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: start;
    text-align: start;
    padding: 2rem 0 1rem 0;
    color: #52616B;
}

.titulo{
    font-size: 3rem;
    color: #1E2022;
    
}



#contacto{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: inherit;
    padding: 1rem 0  1rem 0;
}

#contacto p{
    color:#52616B;
    text-align: start;
}
#contacto p b{
    color: #1E2022;
}

#redes{
    height: 20%;
    display: inline;
    color: #7e7e7e;   
    font-size: 2.5rem;
    transition: all 1s ease;  
}
#redes a{

    margin-right: 2.5rem;
}
#redes a span{
    color: #1E2022;
}
#redes a span:hover{
  color: #4000fe;
  scale: 1.3;
  transition: all 1s ease;   

}

@media (max-width: 946px) {

    .titulo{
        font-size: 1.75rem;
        color: #1E2022;
        
    }

    #containerHola{
        margin-top: 1rem; 
    }
    #containerHola article{
        font-size: 1.05rem;
        width: 65%;
    }

    #containerHola picture{
        width: 35%;
        padding:0.5rem;
    }
    #containerHola picture img{
        object-fit: contain;
        width: 100%;
    }
    #redes{ 
        font-size: 2rem;
    }
    #redes a{
        margin-right: 1.5rem;
    }
    
}