.navbar{
    display: flex;
    padding: 1rem;
    background-color: #271d45;
    height: 10vh; 
    box-shadow: 0 0 1rem black;   
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#logo{

    display: flex;
    width: 6rem;
    height: 6rem;
    border-radius: 20px;
}




.navbar a{
    color:#7e7e7e;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    /* font-weight: 500;  */
}
.navbar:hover a{

    background-color: rgb(132, 132, 132);
    color: #ffffff !important;
    border-radius: 20px;
    opacity: 0.9;
    font-size:100 ;
}

@media (max-width: 946px) {
    .navbar{
        padding: 1rem;
        font-size: 1rem;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .navbar a{
        padding: 0;
    }
}
    