#portafolio{
    display: block;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 90vh;
}

#portafolio span:hover{
    cursor: pointer;
}

#portafolio h2{
    margin-bottom: 4rem;
}

#portafolio article{
    
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 80%;
}

#portafolio article span{
    background-color: #47357d;
    border-radius: 2rem;
    width: 33.33%;
    box-shadow: 0 0 1rem black ;
    border: 3px solid black;
    padding: 1rem;
    overflow: hidden;
}

#portafolio article span picture img{
    border: 3px solid black;
    object-fit: cover;
    height: 45%;
    margin-bottom: 2rem;
    box-shadow: 0 0 1rem black ;
}

#portafolio article span p{
    height: 35%;
    text-align: justify;   
}
#portafolio article span nav{
    text-align: center;
    font-size: 2.5rem;   
    transition: all 1s ease;  
    overflow: hidden;
}
#portafolio article span nav a{
    color: black;

}

#portafolio article span nav a:hover{
    color: snow;
    transition: all 1s ease;    
  }

  @media (max-width: 946px) {

    #portafolio{
        height: 100vh;
    }

    #portafolio article{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        height: 85%;
    }

    #portafolio article span{
        width: 100%;
    }
    #portafolio article span picture{
        display: flex;
        justify-content: center;
    }
    #portafolio article span picture img{
        height: 50%;
        width: 60%;
        margin-bottom: 0.5rem;
        box-shadow: 0 0 1rem black ;
    }
    #portafolio article span p{
        height: 15%;
        text-align: justify;   
    }
    #portafolio article span nav{
        display: flex;
        flex-direction: row;
        height: 25%;
        justify-content: center;
        text-align: center;
        font-size: 1.75rem;   
        margin-top: 1rem;

    }

    


  }