#containerResume{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding-left: 5rem;
    line-height: 2rem;
    height: 140vh;
    overflow: hidden;
}
#containerResume h2{
    margin-bottom: 1rem;
}

#resumen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    height: 50%;
    overflow: hidden;

    
}

#educacion{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    overflow: hidden;
}

#educacion ul{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    border-left: 3px solid #1E2022;
}

#educacion h5{
    text-transform: uppercase;
    color: #1E2022;
    font-size: 1.5rem;
}
#educacion h4{
    color: #52616B;
}



@media (max-width: 946px) {

    #containerResume{
        margin-top: 1rem;
        padding-left: 1rem;
    }
    #resumen{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 100%;
        margin-bottom: 2rem;
        height: 40%;
        font-size: 1rem;
        
    }
    #educacion{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        height: 60%;
        justify-content: space-between;
    }
    
    #educacion ul{
       
       
     
        padding-left: 0.6rem;
        border-left: 2px solid #271d45;
    }


}